/*    MAPAS      */
form .btn {
  color: white;
  background-color: #0c550c;
  font-size: 1.125rem;
  font-weight: bold; }
  form .btn:hover {
    background-color: green; }

.container-fluid .row .col div .btn {
  color: white;
  background-color: #0c550c; }
  .container-fluid .row .col div .btn:hover {
    background-color: green; }

/*     EXTENDS  */
section .bannerCapacitaciones .wrap .botones .btn1, section .bannerCapacitaciones .wrap .botones .btn2 {
  flex-basis: 30%;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* margin-right: 1.25rem; */ }

/* ===== GLOBALES ===== */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f0ea; }

a {
  text-decoration: none; }

hr {
  width: 50%;
  margin-right: auto;
  margin-left: auto; }

span {
  color: green; }

/* ========================================== */
/*                   MENU                     */
/* ========================================== */
header .navbar {
  background-color: #b7c3ad; }
  header .navbar .container-fluid .navbar-brand .marca {
    color: #243a24; }
  header .navbar .container-fluid .collapse .navbar-nav .nav-item a {
    font-size: 1.125rem;
    font-weight: bold;
    color: #244d24; }
    header .navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
      color: white; }

/*-- ========================================= -- */
/*--               BANNER                      --*/
/*-- ========================================= --*/
section .banner .wrap {
  max-width: 1000px;
  margin: 0 auto;
  height: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: left; }
  section .banner .wrap .box {
    flex-basis: 50%;
    color: #fff;
    text-align: left;
    align-self: center; }
    section .banner .wrap .box span {
      font-size: 1.125rem;
      letter-spacing: 2px;
      font-weight: 300;
      color: #c1c5c1; }
    section .banner .wrap .box h1 {
      font-size: 2rem;
      line-height: 0.9;
      padding-bottom: 10px; }
    section .banner .wrap .box p {
      font-size: 0.9375rem;
      line-height: 1.2; }

/*-- ========================================= --*/
/*--                   FOOTER                  --*/
/*-- ========================================= --*/
footer {
  background: #b7c3ad;
  min-height: 6.25rem; }
  footer p {
    color: #f3f3f3;
    text-align: center; }
  footer #iconos a .bi {
    font-size: 1.625rem;
    padding: 0 8px;
    color: #f3f3f3; }

/*     EXTENDS  */
section .bannerCapacitaciones .wrap .botones .btn1, section .bannerCapacitaciones .wrap .botones .btn2 {
  flex-basis: 30%;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* margin-right: 1.25rem; */ }

/*-- ========================================= -- */
/*--               SLIDER DE IMAGENES          --*/
/*-- ========================================= --*/
section .carousel .carousel-inner {
  max-height: 27rem; }

/* ============================================= */
/*                INDEX.HTML                     */
/* ============================================= */
section .bannerIndex {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bannerIndex.jpg); }

@media screen and (max-width: 768px) {
  #intro {
    width: 90% !important; } }

#intro p span {
  animation-name: aparecerDerecha;
  animation-duration: 1.8s;
  position: relative;
  animation-timing-function: linear; }

@keyframes aparecerDerecha {
  0% {
    right: -100%; }
  25% {
    right: -75%; }
  50% {
    right: -50%; }
  75% {
    right: -25%; }
  100% {
    right: -0%; } }

@media screen and (max-width: 768px) {
  section #equipo {
    width: 90% !important; } }

@media screen and (max-width: 768px) {
  .container-fluid .capacitaciones-columna {
    width: 100% !important; } }

.container-fluid .capacitaciones-columna .carta .mt-4 a div button {
  color: white;
  background-color: #327e32; }
  .container-fluid .capacitaciones-columna .carta .mt-4 a div button:hover {
    background-color: #26a726; }

@media screen and (max-width: 576px) {
  .container-fluid .capacitaciones-columna .carta {
    flex-wrap: wrap;
    justify-content: center !important;
    text-align: center; } }

.container-fluid .capacitaciones-columna .carta a img {
  transition: 0.2s; }
  .container-fluid .capacitaciones-columna .carta a img:hover {
    transform: scale(1.07); }

/*     EXTENDS  */
section .bannerCapacitaciones .wrap .botones .btn1, section .bannerCapacitaciones .wrap .botones .btn2 {
  flex-basis: 30%;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center;
  text-decoration: none;
  color: #fff;
  /* margin-right: 1.25rem; */ }

/*    MAPAS      */
form .btn {
  color: white;
  background-color: #0c550c;
  font-size: 1.125rem;
  font-weight: bold; }
  form .btn:hover {
    background-color: green; }

.container-fluid .row .col div .btn {
  color: white;
  background-color: #0c550c; }
  .container-fluid .row .col div .btn:hover {
    background-color: green; }

/*-- ========================================= -- */
/*--              CAPACITACIONES.HTML          --*/
/*-- ========================================= --*/
section .bannerCapacitaciones {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bannerCapacitaciones1.jpg); }
  section .bannerCapacitaciones .wrap .botones {
    display: flex;
    margin-top: 1.875rem;
    flex-flow: row wrap; }
    section .bannerCapacitaciones .wrap .botones .btn1:hover {
      background-color: rgba(255, 255, 255, 0.3); }
    section .bannerCapacitaciones .wrap .botones .btn2 {
      border: 2px solid #fff;
      color: #000;
      background-color: #fff; }
      section .bannerCapacitaciones .wrap .botones .btn2:hover {
        background-color: rgba(255, 255, 255, 0.3);
        color: #fff; }

.container-fluid .row .col .card {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s; }
  .container-fluid .row .col .card:hover {
    transform: scale(1.02); }

section .Page .pagination page-item .page-link {
  color: #000; }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XL       --*/
/*-- ========================================= --*/
@media screen and (max-width: 1200px) {
  section .banner {
    background-position: center; } }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA L        --*/
/*-- ========================================= --*/
@media screen and (max-width: 992px) {
  /* CONTACTO */
  section .banner {
    background-position: center; }
    section .banner .wrap .box {
      padding-left: 30px; } }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA M       --*/
/*-- ========================================= --*/
@media screen and (max-width: 768px) {
  #intro,
  #equipo {
    width: 90% !important; }
  section .capacitaciones-columna {
    width: 100% !important;
    text-align: center; }
  /* CONTACTO */ }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA SM      --*/
/*-- ========================================= --*/
@media screen and (max-width: 576px) {
  section .capacitaciones-columna .carta {
    flex-wrap: wrap;
    justify-content: center !important; }
  /* CAPACITACIONES */ }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XSM      --*/
/*-- ========================================= --*/
@media screen and (max-width: 320px) {
  /* CAPACITACIONES */
  section .bannerCapacitaciones {
    background-position: 60% 60%; }
  section .banner .wrap .box {
    flex-basis: 100%;
    color: #fff;
    text-align: left;
    align-self: center; }
    section .banner .wrap .box span {
      font-size: 15px;
      letter-spacing: 2px;
      font-weight: 300;
      color: white; }
    section .banner .wrap .box h1 {
      font-size: 20px;
      line-height: 0.9;
      padding-bottom: 10px; }
    section .banner .wrap .box p {
      font-size: 12px;
      line-height: 1.2; }
  .container-fluid .row .col .card {
    width: 100%; } }
