/*    MAPAS      */
form .btn {
  color: white;
  background-color: #0c550c;
  font-size: 1.125rem;
  font-weight: bold; }
  form .btn:hover {
    background-color: green; }

.container-fluid .row .col div .btn {
  color: white;
  background-color: #0c550c; }
  .container-fluid .row .col div .btn:hover {
    background-color: green; }

/*     EXTENDS  */
.contenedorIndex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header			   header   	 header" "portada       portada     portada" "zona1         zona1       zona1" "zona2         zona2       zona2" "slider        slider      slider" "destacado		 destacado 	 destacado" "footer	 		   footer 		 footer"; }

.contenedorCapacitaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			       header   	         header" "portada           portada             portada" "zona1             zona1               zona1" "contenidoCursos   contenidoCursos     contenidoCursos" "footer	 		       footer 		         footer"; }

.contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn1, .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn2, .asideBlog aside .col-12 .botones .boton1, .asideBlog aside .col-12 .botones .boton2 {
  flex-basis: 30%;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center; }

.container-fluid .destacadoBlog1 section .card, .row div .card {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s; }
  .container-fluid .destacadoBlog1 section .card:hover, .row div .card:hover {
    transform: scale(1.02); }

.contenedorBlog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "destacado       destacado           destacado" "aside           aside               aside" "footer          footer              footer"; }

.contenedorAbout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "contenido       contenido           contenido" "footer          footer              footer"; }

.contenedorContacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "formulario      formulario          forumalario" "footer          footer              footer"; }

/* ===== GLOBALES ===== */
body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f0ea;
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: #000; }
  a:hover {
    color: #000; }

hr {
  width: 50%;
  margin-right: auto;
  margin-left: auto; }

span {
  color: green; }

/* ========================================== */
/*                   MENU                     */
/* ========================================== */
header {
  grid-area: header; }
  header .navbar {
    background-color: #b7c3ad; }
    header .navbar .container-fluid .navbar-brand .marca {
      color: #243a24; }
    header .navbar .container-fluid .collapse .navbar-nav .nav-item a {
      font-size: 1.125rem;
      font-weight: bold;
      color: #244d24; }
      header .navbar .container-fluid .collapse .navbar-nav .nav-item a:hover {
        color: white; }

/*-- ========================================= -- */
/*--               BANNER                      --*/
/*-- ========================================= --*/
.portada {
  grid-area: portada; }
  .portada .banner .wrap {
    max-width: 1000px;
    margin: 0 auto;
    height: 90%;
    display: flex;
    flex-flow: row wrap;
    justify-content: left; }
    .portada .banner .wrap .box {
      flex-basis: 50%;
      color: #fff;
      text-align: left;
      align-self: center; }
      .portada .banner .wrap .box .textoBanner1 {
        font-size: 1.125rem;
        letter-spacing: 2px;
        font-weight: 300;
        color: #5cb85c;
        font-weight: bold; }
      .portada .banner .wrap .box .textoBanner2 {
        font-size: 32px;
        line-height: 0.9;
        padding-bottom: 10px; }
      .portada .banner .wrap .box .textoBanner3 {
        font-size: 0.9375rem;
        line-height: 1.2; }

/*-- ========================================= --*/
/*--                   FOOTER                  --*/
/*-- ========================================= --*/
footer {
  grid-area: footer;
  background: #b7c3ad;
  min-height: 6.25rem;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap; }
  footer .derechos {
    color: #f3f3f3;
    text-align: center;
    padding: 10px 10px 0; }
  footer #iconos a .bi {
    font-size: 1.625rem;
    padding: 0 8px;
    color: #f3f3f3; }

/*     EXTENDS  */
.contenedorIndex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header			   header   	 header" "portada       portada     portada" "zona1         zona1       zona1" "zona2         zona2       zona2" "slider        slider      slider" "destacado		 destacado 	 destacado" "footer	 		   footer 		 footer"; }

.contenedorCapacitaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			       header   	         header" "portada           portada             portada" "zona1             zona1               zona1" "contenidoCursos   contenidoCursos     contenidoCursos" "footer	 		       footer 		         footer"; }

.contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn1, .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn2, .asideBlog aside .col-12 .botones .boton1, .asideBlog aside .col-12 .botones .boton2 {
  flex-basis: 30%;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center; }

.container-fluid .destacadoBlog1 section .card, .row div .card {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s; }
  .container-fluid .destacadoBlog1 section .card:hover, .row div .card:hover {
    transform: scale(1.02); }

.contenedorBlog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "destacado       destacado           destacado" "aside           aside               aside" "footer          footer              footer"; }

.contenedorAbout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "contenido       contenido           contenido" "footer          footer              footer"; }

.contenedorContacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "formulario      formulario          forumalario" "footer          footer              footer"; }

/*    MAPAS      */
form .btn {
  color: white;
  background-color: #0c550c;
  font-size: 1.125rem;
  font-weight: bold; }
  form .btn:hover {
    background-color: green; }

.container-fluid .row .col div .btn {
  color: white;
  background-color: #0c550c; }
  .container-fluid .row .col div .btn:hover {
    background-color: green; }

/* ============================================= */
/*                INDEX.HTML                     */
/* ============================================= */
.contenedorIndex .portada .bannerIndex {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bannerIndex.jpg); }

.contenedorIndex .zona1 {
  grid-area: zona1;
  display: grid;
  place-content: center;
  padding-top: 1.25rem; }
  .contenedorIndex .zona1 .csb {
    text-align: center;
    padding: 0.625rem;
    font-size: 2rem; }
    .contenedorIndex .zona1 .csb .tecnicas {
      font-size: 1.25rem; }
  .contenedorIndex .zona1 .terapeutas {
    text-align: center;
    padding: 0.625rem;
    font-size: 1.5rem; }
    .contenedorIndex .zona1 .terapeutas .logo {
      animation-name: aparecerDerecha;
      animation-duration: 1.8s;
      position: relative;
      animation-timing-function: linear; }

@keyframes aparecerDerecha {
  0% {
    right: -100%; }
  25% {
    right: -75%; }
  50% {
    right: -50%; }
  75% {
    right: -25%; }
  100% {
    right: -0%; } }

.contenedorIndex .zona2 {
  grid-area: zona2;
  display: grid;
  place-content: center; }
  .contenedorIndex .zona2 #equipo {
    width: 75%;
    margin: auto; }
    .contenedorIndex .zona2 #equipo .equipoTitulo {
      text-align: center;
      margin-bottom: 15px;
      font-size: 1.75rem;
      font-weight: bold; }
    .contenedorIndex .zona2 #equipo .equipoDescripcion {
      text-align: center; }

.contenedorIndex .slider {
  grid-area: slider; }
  .contenedorIndex .slider .carousel .carousel-inner {
    max-height: 27rem; }

.contenedorIndex .destacado {
  grid-area: destacado; }
  .contenedorIndex .destacado div .destacadoTitulo {
    font-size: 2rem;
    text-align: center;
    padding-bottom: 0.9375rem; }
  .contenedorIndex .destacado .capacitacionesColumna {
    width: 75%;
    margin: auto; }
    .contenedorIndex .destacado .capacitacionesColumna .carta {
      margin: 0.9375rem 0 2.1875rem;
      display: flex; }
      .contenedorIndex .destacado .capacitacionesColumna .carta a .imagenCapacitacion {
        border-radius: 5px;
        margin: auto 0; }
        .contenedorIndex .destacado .capacitacionesColumna .carta a .imagenCapacitacion:hover {
          transform: scale(1.07);
          transition: 1s; }
      .contenedorIndex .destacado .capacitacionesColumna .carta .capacitacionesTexto {
        padding: 0 15px; }
      .contenedorIndex .destacado .capacitacionesColumna .carta .capacitacionesTitulo {
        font-size: 1.5625rem; }
      .contenedorIndex .destacado .capacitacionesColumna .carta .capacitacionesBoton {
        display: flex;
        justify-content: flex-end;
        align-content: center;
        text-align: center; }
        .contenedorIndex .destacado .capacitacionesColumna .carta .capacitacionesBoton .botonSeguir {
          color: white;
          background-color: #327e32;
          display: inline-block;
          padding: 10px 15px;
          width: 30%;
          border-radius: 3px;
          width: fit-content; }
          .contenedorIndex .destacado .capacitacionesColumna .carta .capacitacionesBoton .botonSeguir:hover {
            background-color: #5a945a; }

@media screen and (max-width: 768px) {
  section #equipo {
    width: 90% !important; } }

@media screen and (max-width: 768px) {
  .container-fluid .capacitaciones-columna {
    width: 100% !important; } }

.container-fluid .capacitaciones-columna .carta .mt-4 a div button {
  color: white;
  background-color: #327e32;
  display: inline-block;
  padding: 10px 15px;
  width: 30%;
  border-radius: 3px; }
  .container-fluid .capacitaciones-columna .carta .mt-4 a div button:hover {
    background-color: #5a945a; }

@media screen and (max-width: 576px) {
  .container-fluid .capacitaciones-columna .carta {
    flex-wrap: wrap;
    justify-content: center !important;
    text-align: center; } }

.container-fluid .capacitaciones-columna .carta a img {
  transition: 0.2s; }
  .container-fluid .capacitaciones-columna .carta a img:hover {
    transform: scale(1.08); }

/*     EXTENDS  */
.contenedorIndex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header			   header   	 header" "portada       portada     portada" "zona1         zona1       zona1" "zona2         zona2       zona2" "slider        slider      slider" "destacado		 destacado 	 destacado" "footer	 		   footer 		 footer"; }

.contenedorCapacitaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			       header   	         header" "portada           portada             portada" "zona1             zona1               zona1" "contenidoCursos   contenidoCursos     contenidoCursos" "footer	 		       footer 		         footer"; }

.contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn1, .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn2, .asideBlog aside .col-12 .botones .boton1, .asideBlog aside .col-12 .botones .boton2 {
  flex-basis: 30%;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center; }

.container-fluid .destacadoBlog1 section .card, .row div .card {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s; }
  .container-fluid .destacadoBlog1 section .card:hover, .row div .card:hover {
    transform: scale(1.02); }

.contenedorBlog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "destacado       destacado           destacado" "aside           aside               aside" "footer          footer              footer"; }

.contenedorAbout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "contenido       contenido           contenido" "footer          footer              footer"; }

.contenedorContacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "formulario      formulario          forumalario" "footer          footer              footer"; }

/*    MAPAS      */
form .btn {
  color: white;
  background-color: #0c550c;
  font-size: 1.125rem;
  font-weight: bold; }
  form .btn:hover {
    background-color: green; }

.container-fluid .row .col div .btn {
  color: white;
  background-color: #0c550c; }
  .container-fluid .row .col div .btn:hover {
    background-color: green; }

/*-- ========================================= -- */
/*--              CAPACITACIONES.HTML          --*/
/*-- ========================================= --*/
.contenedorCapacitaciones .portada .bannerCapacitaciones {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/bannerCapacitaciones1.jpg); }
  .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box {
    color: #fff;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 50px; }
    .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .nuestro {
      font-size: 1.5rem; }
    .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones {
      display: flex;
      margin-top: 7px;
      flex-flow: row wrap;
      gap: 5px;
      width: fit-content; }
      .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn1:hover {
        background-color: rgba(255, 255, 255, 0.3); }
      .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn2 {
        border: 2px solid #000;
        color: #000;
        background-color: #fff; }
        .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn2:hover {
          background-color: rgba(255, 255, 255, 0.3);
          color: #fff; }

.contenedorCapacitaciones #intro {
  grid-area: zona1;
  margin: 0 auto;
  padding-top: 20px; }
  .contenedorCapacitaciones #intro .tituloIntro {
    text-align: center;
    font-size: 2rem; }
  .contenedorCapacitaciones #intro .textoIntro {
    text-align: center;
    font-size: 1.5rem;
    padding: 15px; }

.contenedorCapacitaciones .contenidoCapacitaciones {
  grid-area: contenidoCursos;
  margin: 0 auto;
  width: 90%;
  padding: 60px 0;
  max-width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 3.5em;
  flex-wrap: wrap; }
  .contenedorCapacitaciones .contenidoCapacitaciones .tarjetaItem {
    padding-bottom: 3em;
    flex-basis: 280px;
    max-width: 450px;
    flex-grow: 1;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 5px; }
    .contenedorCapacitaciones .contenidoCapacitaciones .tarjetaItem .tarjetaContenido {
      width: 90%;
      margin: 0 auto; }
      .contenedorCapacitaciones .contenidoCapacitaciones .tarjetaItem .tarjetaContenido .tarjetaImagen {
        width: 90%;
        margin: 0 auto;
        position: relative;
        bottom: 2em; }
        .contenedorCapacitaciones .contenidoCapacitaciones .tarjetaItem .tarjetaContenido .tarjetaImagen .tarjetaImg {
          width: 100%;
          border-radius: 10px; }
          .contenedorCapacitaciones .contenidoCapacitaciones .tarjetaItem .tarjetaContenido .tarjetaImagen .tarjetaImg:hover {
            transform: scale(1.05);
            transition: 1s; }
      .contenedorCapacitaciones .contenidoCapacitaciones .tarjetaItem .tarjetaContenido .tarjetaTexto .tarjetaTitulo {
        margin-bottom: 1em; }
      .contenedorCapacitaciones .contenidoCapacitaciones .tarjetaItem .tarjetaContenido .capacitacionesBoton {
        width: fit-content;
        border-radius: 5px;
        padding: 7px 12px;
        background-color: #4f774f; }
        .contenedorCapacitaciones .contenidoCapacitaciones .tarjetaItem .tarjetaContenido .capacitacionesBoton a {
          color: #fff; }

/*     EXTENDS  */
.contenedorIndex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header			   header   	 header" "portada       portada     portada" "zona1         zona1       zona1" "zona2         zona2       zona2" "slider        slider      slider" "destacado		 destacado 	 destacado" "footer	 		   footer 		 footer"; }

.contenedorCapacitaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			       header   	         header" "portada           portada             portada" "zona1             zona1               zona1" "contenidoCursos   contenidoCursos     contenidoCursos" "footer	 		       footer 		         footer"; }

.contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn1, .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn2, .asideBlog aside .col-12 .botones .boton1, .asideBlog aside .col-12 .botones .boton2 {
  flex-basis: 30%;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center; }

.container-fluid .destacadoBlog1 section .card, .row div .card {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s; }
  .container-fluid .destacadoBlog1 section .card:hover, .row div .card:hover {
    transform: scale(1.02); }

.contenedorBlog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "destacado       destacado           destacado" "aside           aside               aside" "footer          footer              footer"; }

.contenedorAbout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "contenido       contenido           contenido" "footer          footer              footer"; }

.contenedorContacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "formulario      formulario          forumalario" "footer          footer              footer"; }

/*    MAPAS      */
form .btn {
  color: white;
  background-color: #0c550c;
  font-size: 1.125rem;
  font-weight: bold; }
  form .btn:hover {
    background-color: green; }

.container-fluid .row .col div .btn {
  color: white;
  background-color: #0c550c; }
  .container-fluid .row .col div .btn:hover {
    background-color: green; }

/*-- ========================================= -- */
/*--              BLOG.HTML                    --*/
/*-- ========================================= --*/
.contenedorBlog .portada .bannerAbout {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/portadaNosotros.jpg); }

.contenedorBlog #intro {
  grid-area: zona1; }

.contenedorBlog .contenidoBlog {
  grid-area: destacado; }
  .contenedorBlog .contenidoBlog .asideBlog {
    grid-area: aside; }

.container-fluid .destacadoBlog1 {
  animation-name: aparecer;
  animation-duration: 1.8s;
  position: relative;
  animation-timing-function: linear; }

@keyframes aparecer {
  0% {
    left: -100%; }
  25% {
    left: -75%; }
  50% {
    left: -50%; }
  75% {
    left: -25%; }
  100% {
    left: 0%; } }

.asideBlog {
  background-color: #424642; }
  .asideBlog aside .col img {
    border-radius: 40%;
    height: 10em;
    width: 10em; }
  .asideBlog aside .col-12 .botones .boton1 {
    color: #fff;
    margin-right: 1.25rem; }
    .asideBlog aside .col-12 .botones .boton1:hover {
      background-color: rgba(255, 255, 255, 0.3); }
  .asideBlog aside .col-12 .botones .boton2 {
    color: #000;
    background-color: #fff; }
    .asideBlog aside .col-12 .botones .boton2:hover {
      background-color: rgba(255, 255, 255, 0.3);
      color: #fff; }

/*     EXTENDS  */
.contenedorIndex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header			   header   	 header" "portada       portada     portada" "zona1         zona1       zona1" "zona2         zona2       zona2" "slider        slider      slider" "destacado		 destacado 	 destacado" "footer	 		   footer 		 footer"; }

.contenedorCapacitaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			       header   	         header" "portada           portada             portada" "zona1             zona1               zona1" "contenidoCursos   contenidoCursos     contenidoCursos" "footer	 		       footer 		         footer"; }

.contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn1, .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn2, .asideBlog aside .col-12 .botones .boton1, .asideBlog aside .col-12 .botones .boton2 {
  flex-basis: 30%;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center; }

.container-fluid .destacadoBlog1 section .card, .row div .card {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s; }
  .container-fluid .destacadoBlog1 section .card:hover, .row div .card:hover {
    transform: scale(1.02); }

.contenedorBlog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "destacado       destacado           destacado" "aside           aside               aside" "footer          footer              footer"; }

.contenedorAbout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "contenido       contenido           contenido" "footer          footer              footer"; }

.contenedorContacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "formulario      formulario          forumalario" "footer          footer              footer"; }

/*    MAPAS      */
form .btn {
  color: white;
  background-color: #0c550c;
  font-size: 1.125rem;
  font-weight: bold; }
  form .btn:hover {
    background-color: green; }

.container-fluid .row .col div .btn {
  color: white;
  background-color: #0c550c; }
  .container-fluid .row .col div .btn:hover {
    background-color: green; }

/*-- ========================================= -- */
/*--                   ABOUT.HTML              --*/
/*-- ========================================= --*/
.contenedorAbout {
  background-color: #5E748F; }
  .contenedorAbout .portada .bannerAbout {
    display: flex;
    max-width: 100%;
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url(../img/portadaNosotros.jpg); }
  .contenedorAbout .containerNosotros {
    grid-area: contenido; }
    .contenedorAbout .containerNosotros .box1 {
      display: flex; }
      .contenedorAbout .containerNosotros .box1 .boxTexto {
        background-color: #748f5e;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; }
        .contenedorAbout .containerNosotros .box1 .boxTexto .boxTexto--titulo {
          color: #fff;
          font-size: 1.5rem;
          text-align: center;
          padding-top: 1.25rem; }
        .contenedorAbout .containerNosotros .box1 .boxTexto .boxTexto--parrafo {
          color: #fff;
          padding: 0 11.25rem;
          text-align: center; }
      .contenedorAbout .containerNosotros .box1 .containerFoto img {
        max-height: 37.5rem;
        object-fit: contain;
        width: 100%; }
      .contenedorAbout .containerNosotros .box1 .containerFoto .divAraceli {
        display: none; }
    .contenedorAbout .containerNosotros .box2 {
      display: grid;
      grid-template-columns: 2fr 6fr 2fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas: "aside     parrafo   columnaColor" "aside     parrafo   columnaColor" "aside     parrafo   columnaColor";
      background-color: red; }
      .contenedorAbout .containerNosotros .box2 .asideNosotros {
        grid-area: aside;
        background-color: #5E8C8F;
        display: flex;
        justify-content: center;
        align-items: center; }
        .contenedorAbout .containerNosotros .box2 .asideNosotros .asidePalabra {
          transform: rotate(-90deg);
          letter-spacing: 0.4375rem;
          text-align: center;
          font-size: 3rem;
          font-weight: bold;
          color: #000; }
      .contenedorAbout .containerNosotros .box2 .parrafoNosotros {
        grid-area: parrafo;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 9.375rem;
        border: 1px solid black; }
        .contenedorAbout .containerNosotros .box2 .parrafoNosotros .boxTexto--titulo {
          font-size: 1.5rem;
          text-align: center;
          padding-top: 1.25rem; }
        .contenedorAbout .containerNosotros .box2 .parrafoNosotros .boxTexto--parrafo {
          text-align: center; }
      .contenedorAbout .containerNosotros .box2 .columnaColor {
        grid-area: columnaColor;
        display: flex;
        background-color: #5E8C8F; }
    .contenedorAbout .containerNosotros .box3 {
      display: flex;
      flex-direction: row-reverse; }
      .contenedorAbout .containerNosotros .box3 .boxTexto {
        background-color: #748f5e;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
        .contenedorAbout .containerNosotros .box3 .boxTexto .boxTexto--titulo {
          color: #fff;
          font-size: 1.5rem;
          text-align: center;
          padding-top: 1.25rem; }
        .contenedorAbout .containerNosotros .box3 .boxTexto .boxTexto--parrafo {
          color: #fff;
          padding: 0 11.25rem;
          text-align: center; }
      .contenedorAbout .containerNosotros .box3 .containerFoto img {
        max-height: 37.5rem;
        object-fit: contain;
        width: 100%; }
      .contenedorAbout .containerNosotros .box3 .containerFoto .divFabricio {
        display: none; }

/*     EXTENDS  */
.contenedorIndex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas: "header			   header   	 header" "portada       portada     portada" "zona1         zona1       zona1" "zona2         zona2       zona2" "slider        slider      slider" "destacado		 destacado 	 destacado" "footer	 		   footer 		 footer"; }

.contenedorCapacitaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			       header   	         header" "portada           portada             portada" "zona1             zona1               zona1" "contenidoCursos   contenidoCursos     contenidoCursos" "footer	 		       footer 		         footer"; }

.contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn1, .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones .btn2, .asideBlog aside .col-12 .botones .boton1, .asideBlog aside .col-12 .botones .boton2 {
  flex-basis: 30%;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center; }

.container-fluid .destacadoBlog1 section .card, .row div .card {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s; }
  .container-fluid .destacadoBlog1 section .card:hover, .row div .card:hover {
    transform: scale(1.02); }

.contenedorBlog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "destacado       destacado           destacado" "aside           aside               aside" "footer          footer              footer"; }

.contenedorAbout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "contenido       contenido           contenido" "footer          footer              footer"; }

.contenedorContacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas: "header			     header   	         header" "portada         portada             portada" "zona1           zona1               zona1" "formulario      formulario          forumalario" "footer          footer              footer"; }

/*    MAPAS      */
form .btn {
  color: white;
  background-color: #0c550c;
  font-size: 1.125rem;
  font-weight: bold; }
  form .btn:hover {
    background-color: green; }

.container-fluid .row .col div .btn {
  color: white;
  background-color: #0c550c; }
  .container-fluid .row .col div .btn:hover {
    background-color: green; }

/*-- ========================================= -- */
/*--              CONTACTO.HTML          --*/
/*-- ========================================= --*/
.contenedorContacto .portada .bannerContacto {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../img/laSerranita.jpg); }

.contenedorContacto #local {
  grid-area: zona1;
  padding-bottom: 1.875rem;
  align-items: center; }
  .contenedorContacto #local .mapa {
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px; }
  .contenedorContacto #local .wrapper {
    padding-left: 20px; }

.contenedorContacto .formulario {
  grid-area: formulario;
  width: 50%;
  margin: 0 auto; }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XL       --*/
/*-- ========================================= --*/
@media screen and (max-width: 1200px) {
  section .banner {
    background-position: center; }
  /* Capacitaciones.html */
  .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones {
    flex-flow: nowrap; }
  /* Contacto.html  */
  #local {
    flex-wrap: wrap;
    padding-top: 30px; }
    #local .wrapper {
      width: 90%;
      margin: auto;
      padding-top: 50px; }
  .container-fluid .destacadoBLog1 {
    height: 40%; } }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA L        --*/
/*-- ========================================= --*/
@media screen and (max-width: 992px) {
  /* ABOUT.HTML */
  .contenedorAbout .containerNosotros .box1 .boxTexto .boxTexto--parrafo {
    padding: 0 6.25rem; }
  .contenedorAbout .containerNosotros .box2 {
    display: flex; }
    .contenedorAbout .containerNosotros .box2 .columnaColor {
      display: none; }
  .contenedorAbout .containerNosotros .box3 .boxTexto .boxTexto--parrafo {
    padding: 0 6.25rem; }
  /* CONTACTO */
  section .banner {
    background-position: center; }
    section .banner .wrap .box {
      padding-left: 30px; } }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA M       --*/
/*-- ========================================= --*/
@media screen and (max-width: 768px) {
  .contenedorIndex {
    font-size: 16px; }
    .contenedorIndex .destacado .capacitacionesColumna {
      width: 85%;
      text-align: start; }
      .contenedorIndex .destacado .capacitacionesColumna .carta .capacitacionesTexto .capacitacionesTitulo {
        font-size: 22px; }
  .contenedorCapacitaciones section .bannerCapacitaciones .wrap .box {
    padding-left: 50px; }
  .contenedorAbout .containerNosotros .box1 {
    flex-flow: wrap; }
    .contenedorAbout .containerNosotros .box1 .boxTexto {
      width: 100%;
      padding: 50px 10px; }
      .contenedorAbout .containerNosotros .box1 .boxTexto .boxTexto--parrafo {
        color: #fff; }
    .contenedorAbout .containerNosotros .box1 .containerFoto {
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedorAbout .containerNosotros .box1 .containerFoto img {
        max-height: 400px; }
      .contenedorAbout .containerNosotros .box1 .containerFoto .divAraceli {
        display: unset;
        color: #fff;
        text-align: center;
        font-style: italic; }
  .contenedorAbout .containerNosotros .box2 .asideNosotros {
    display: none; }
  .contenedorAbout .containerNosotros .box2 .columnaColor {
    display: none; }
  .contenedorAbout .containerNosotros .box3 {
    flex-flow: wrap; }
    .contenedorAbout .containerNosotros .box3 .boxTexto {
      width: 100%;
      padding: 50px 10px; }
    .contenedorAbout .containerNosotros .box3 .containerFoto {
      display: flex;
      justify-content: center;
      align-items: center; }
      .contenedorAbout .containerNosotros .box3 .containerFoto img {
        max-height: 400px; }
      .contenedorAbout .containerNosotros .box3 .containerFoto .divFabricio {
        display: unset;
        color: #fff;
        text-align: center;
        font-style: italic; }
  .contenedorContacto #local {
    flex-direction: column-reverse; }
    .contenedorContacto #local .wrapper .ubicacion,
    .contenedorContacto #local .wrapper .ubicacionTexto {
      text-align: center; }
  .contenedorContacto .formulario {
    width: 90%; } }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA SM      --*/
/*-- ========================================= --*/
@media screen and (max-width: 576px) {
  .contenedorIndex .destacado div .destacadoTitulo {
    font-size: 25px; }
  .contenedorIndex .destacado .capacitacionesColumna {
    width: 85%;
    text-align: center; }
    .contenedorIndex .destacado .capacitacionesColumna .carta {
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .contenedorIndex .destacado .capacitacionesColumna .carta .capacitacionesTexto .capacitacionesTitulo {
        font-size: 22px;
        padding-top: 10px; }
      .contenedorIndex .destacado .capacitacionesColumna .carta .capacitacionesTexto .capacitacionesBoton {
        justify-content: center; }
  /* CAPACITACIONES */
  .contenedorCapacitaciones section .bannerCapacitaciones .wrap .box {
    width: 90%;
    padding-left: 50px;
    padding-top: 50px; }
  .contenedorAbout .containerNosotros .box1 .boxTexto .boxTexto--parrafo {
    padding: 0 0; }
  .contenedorAbout .containerNosotros .box1 .containerFoto .imagen {
    width: 55%; }
  .contenedorAbout .containerNosotros .box2 .parrafoNosotros {
    padding: 80px; }
  .contenedorAbout .containerNosotros .box3 .boxTexto .boxTexto--parrafo {
    padding: 0 0; }
  .contenedorAbout .containerNosotros .box3 .containerFoto .imagen {
    width: 55%; } }

/*-- ========================================= -- */
/*--      MEDIA QUERYS PANTALLA ADICIONAL      --*/
/*-- ========================================= --*/
@media screen and (max-width: 480px) {
  /* INDEX.HTML*/
  .contenedorIndex .portada .bannerIndex .wrap .box .textoBanner1 {
    font-size: 22px; }
  .contenedorIndex .portada .bannerIndex .wrap .box .textoBanner2 {
    font-size: 26px;
    line-height: 1.5; }
  .contenedorIndex .portada .bannerIndex .wrap .box .textoBanner3 {
    display: none; }
  /* CAPACITACIONES */
  .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .textoBanner3 {
    display: none; }
  .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones {
    flex-flow: nowrap; }
  .contenedorAbout .containerNosotros .box1 .containerFoto {
    display: flex; }
    .contenedorAbout .containerNosotros .box1 .containerFoto .divAraceli .araceliCita {
      padding: 0 20px; }
  .contenedorAbout .containerNosotros .box2 .parrafoNosotros {
    padding: 20px 70px; }
  .contenedorAbout .containerNosotros .box3 .containerFoto {
    display: flex;
    flex-direction: row-reverse; }
    .contenedorAbout .containerNosotros .box3 .containerFoto .divFabricio .fabricioCita {
      padding: 0 20px; } }

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XSM      --*/
/*-- ========================================= --*/
@media screen and (max-width: 320px) {
  .contenedorIndex .zona1 .csb {
    font-size: 18px; }
    .contenedorIndex .zona1 .csb .tecnicas {
      font-size: 16px; }
  .contenedorIndex .zona1 .terapeutas {
    font-size: 16px; }
  .contenedorIndex .zona2 #equipo .equipoTitulo {
    font-size: 18px; }
  .contenedorIndex .zona2 #equipo .equipoDescripcion {
    display: none; }
  .contenedorIndex .zona2 #equipo .equipoMobile {
    text-align: center; }
  .contenedorIndex .destacado div .destacadoTitulo {
    font-size: 23px; }
  .contenedorIndex .destacado .capacitacionesColumna .carta .capacitacionesTexto .capacitacionesTitulo {
    font-size: 20px; }
  /* CAPACITACIONES */
  .contenedorCapacitaciones .portada .bannerCapacitaciones {
    background-position: 60% 60%; }
    .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box {
      flex-basis: 100%;
      color: #fff;
      text-align: left;
      align-self: center; }
      .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .textoBanner1 {
        font-size: 16px;
        letter-spacing: 2px;
        font-weight: 300; }
      .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .textoBanner2 {
        font-size: 20px;
        line-height: 0.9;
        padding-bottom: 10px; }
      .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .textoBanner3 {
        display: none; }
      .contenedorCapacitaciones .portada .bannerCapacitaciones .wrap .box .botones {
        flex-flow: wrap; }
  /* ABOUT.HTML */
  .contenedorAbout .containerNosotros .box1 .containerFoto .imagen {
    width: 320px; }
  .contenedorAbout .containerNosotros .box1 .containerFoto .divAraceli {
    display: none; }
  .contenedorAbout .containerNosotros .box2 .parrafoNosotros {
    padding: 5px 10px; }
  .contenedorAbout .containerNosotros .box3 .containerFoto .imagen {
    width: 320px; }
  .contenedorAbout .containerNosotros .box3 .containerFoto .divFabricio {
    display: none; }
  /* CONTACTO.HTML */
  .contenedorContacto .portada .bannerContacto .wrap .box span {
    color: #fff; }
  .contenedorContacto .portada .bannerContacto .wrap .box .textoBanner {
    display: none; }
  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center; } }
