/* ===== GLOBALES ===== */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f0ea;
}

a {
  text-decoration: none;
}

hr {
  width: 50%;
  margin-right: auto;
  margin-left: auto;
}


/* ========================================== */
/*                   MENU                     */
/* ========================================== */

.header {
  background-color: #f7f2ec;
}

.navbar {
  background-color: #b7c3ad;
}

.marca {
  color: #243a24;
}

#menu li > a {
  font-size: 1.125rem;
  font-weight: bold;
  color: #244d24;
}

#menu li > a:hover {
  color: white;
}

#menu form > button {
  font-size: 1.125rem;
  font-weight: bold;
  background-color: rgb(119, 133, 119);
}

/*-- ========================================= -- */
/*--               SLIDER DE IMAGENES          --*/
/*-- ========================================= --*/

.carousel-inner {
  max-height: 27rem;
}

/*-- ========================================= -- */
/*--                  BANNER                   --*/
/*-- ========================================= --*/

.banner .wrap {
  max-width: 1000px;
  margin: 0 auto;
  height: 90%;
  display: flex;
  flex-flow: row wrap;
  justify-content: left;
}

.banner .wrap .box {
  flex-basis: 50%;
  color: #fff;
  text-align: left;
  align-self: center;
}

.banner .wrap .box span {
  font-size: 1.125rem;
  letter-spacing: 2px;
  font-weight: 300;
  color: #c1c5c1;
}

.banner .wrap .box h1 {
  font-size: 2rem;
  line-height: 0.9;
  padding-bottom: 10px;
}

.banner .wrap .box p {
  font-size: 0.9375rem;
  line-height: 1.2;
}

/* ============================================= */
/*                INDEX.HTML                     */
/* ============================================= */

.bannerIndex {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-image: url(../img/bannerIndex.jpg);
  background-repeat: no-repeat;
  block-size: cover;
  background-position: center;
}

#intro h1 span {
  color: green;
}

#intro p span {
  color: green;
}

#equipo p span {
  color: green;
}

.carta img:hover {
  transform: scale(1.2);
}

.logo {
  animation-name: aparecerDerecha;
  animation-duration: 1.8s;
  position: relative;
  animation-timing-function: linear;
}

@keyframes aparecerDerecha {
  0% {
    right: -100%;
  }
  25% {
    right: -75%;
  }
  50% {
    right: -50%;
  }
  75% {
    right: -25%;
  }
  100% {
    right: -0%;
  }
}

/*-- ========================================= -- */
/*--              CAPACITACIONES.HTML          --*/
/*-- ========================================= --*/

.bannerCapacitaciones {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-image: url(../img/bannerCapacitaciones1.jpg);
  background-repeat: no-repeat;
  block-size: cover;
  background-position: 50% 10%;
}

.banner .wrap .box .botones {
  display: flex;
  margin-top: 1.875rem;
  flex-flow: row wrap;
}

.btn1 {
  flex-basis: 30%;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  /* margin-right: 1.25rem; */
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.btn2 {
  flex-basis: 30%;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 1.25rem;
  padding: 10px 30px 10px 30px;
  /* margin-right: 1.25rem; */
  text-align: center;
  text-decoration: none;
  color: #000;
}

.btn1:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.btn2:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}



#intro p {
  color: darkgreen;
}

.card {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.02);
}

.btn {
  color: white;
  background-color: rgb(13, 78, 13);
}

.page-link {
  color: #000;
}



/*-- ========================================= -- */
/*--              BLOG.HTML                    --*/
/*-- ========================================= --*/

.destacadoBlog1 {
  animation-name: aparecer;
  animation-duration: 1.8s;
  position: relative;
  animation-timing-function: linear;
}

@keyframes aparecer {
  0% {
    left: -100%;
  }
  25% {
    left: -75%;
  }
  50% {
    left: -50%;
  }
  75% {
    left: -25%;
  }
  100% {
    left: 0%;
  }
}

.asideBlog {
  background-color: rgb(66, 70, 66);
}

.asideBlog div img {
  border-radius: 40%;
  height: 10em;
  width: 10em;
}

.boton1 {
  flex-basis: 30%;
  border: 2px solid;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  margin-right: 1.25rem;
  text-align: center;
  text-decoration: none;
  color: #fff;
}

.boton2 {
  flex-basis: 30%;
  background-color: #fff;
  border: 2px solid #fff;
  border-radius: 1.25rem;
  padding: 10px 30px 10px 30px;
  margin-right: 1.25rem;
  text-align: center;
  text-decoration: none;
  color: #000;
}

.boton1:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

.boton2:hover {
  background-color: rgba(255, 255, 255, 0.3);
  color: #fff;
}

/*-- ========================================= -- */
/*--                   ABOUT.HTML              --*/
/*-- ========================================= --*/

.bannerAbout {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-image: url(../img/portadaNosotros.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.wrapper {
  width: 50%;
  padding-left: 1.25rem;
}

.nosotros-bg {
  background-color: #f7f2ec;
}

/*-- ========================================= --*/
/*--                   CONTACTO.HTML                --*/
/*-- ========================================= --*/

#titulo-formulario {
  color: #3f3f3f;
}

.bannerContacto {
  display: flex;
  max-width: 100%;
  height: 60vh;
  background-image: url(../img/contactoPortada.jpg);
  background-repeat: no-repeat;
  block-size: cover;
  background-position: left;
}

#local {
  background-color: #f7f2ec;
  padding-bottom: 1.875rem;
  display: flex;
  align-items: center;
}

.mapa {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

/*-- ========================================= --*/
/*--                   FOOTER                  --*/
/*-- ========================================= --*/

footer {
  background: rgba(1, 53, 1, 0.438);
  min-height: 6.25rem;
}

footer p {
  color: #f3f3f3;
  text-align: center;
}

.bi {
  font-size: 1.625rem;
  padding: 0 8px;
  color: #f3f3f3;
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XL       --*/
/*-- ========================================= --*/

@media screen and (max-width: 1200px) {
  #local {
    flex-wrap: wrap;
    padding-top: 1.875rem;
  }

  .wrapper {
    width: 90%;
    margin: auto;
    padding-top: 3.125rem;
  }

  /* CONTACTO */

  .banner {
    background-position: center;
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA L        --*/
/*-- ========================================= --*/

@media screen and (max-width: 992px) {
  /* CONTACTO */

  .banner {
    background-position: center;
  }

  .banner .wrap .box {
    padding-left: 30px;
  }


}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA M       --*/
/*-- ========================================= --*/

@media screen and (max-width: 768px) {
  #intro,
  #equipo {
    width: 90% !important;
  }

  .about-description {
    display: none;
  }

  .capacitaciones-columna {
    width: 100% !important;
    text-align: center;
  }

  #bg-contacto {
    top: -110px;
  }

  /* CONTACTO */

  .banner {
    background-position: center;
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA SM      --*/
/*-- ========================================= --*/

@media screen and (max-width: 576px) {
  .carta {
    flex-wrap: wrap;
    justify-content: center !important;
  }

  /* CAPACITACIONES */

  .bannerCapacitaciones {
    background-position: 60% 60%;
  }

  .banner .wrap .box .botones {
    flex-flow: nowrap;
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XSM      --*/
/*-- ========================================= --*/

@media screen and (max-width: 320px) {
  /* CAPACITACIONES */

  .banner .wrap .box {
    flex-basis: 100%;
    color: #fff;
    text-align: left;
    align-self: center;
  }

  .banner .wrap .box span {
    font-size: 15px;
    letter-spacing: 2px;
    font-weight: 300;
    color: white;
  }

  .banner .wrap .box h1 {
    font-size: 20px;
    line-height: 0.9;
    padding-bottom: 10px;
  }

  .banner .wrap .box p {
    font-size: 12px;
    line-height: 1.2;
  }

  /* .banner .wrap .box .botones {
    display: inline-block;
    
  } */



  .card {
    width: 100%;
  }
}
