/*     EXTENDS  */


%botones {
    flex-basis: 30%;
    border: 2px solid;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    /* margin-right: 1.25rem; */
}

