/*     EXTENDS  */

%contenedorIndex {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, auto);
  grid-template-areas:
    "header			   header   	 header"
    "portada       portada     portada"
    "zona1         zona1       zona1"
    "zona2         zona2       zona2"
    "slider        slider      slider"
    "destacado		 destacado 	 destacado"
    "footer	 		   footer 		 footer";
}

%contenedorCapacitaciones {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "header			       header   	         header"
    "portada           portada             portada"
    "zona1             zona1               zona1"
    "contenidoCursos   contenidoCursos     contenidoCursos"
    "footer	 		       footer 		         footer";
}

%botonesPodcast {
  flex-basis: 30%;
  border: 2px solid #fff;
  border-radius: 20px;
  padding: 10px 30px 10px 30px;
  text-align: center;
}

%tarjetas {
  width: 70%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.2s;
  &:hover {
    transform: scale(1.02);
  }
}

%contenedorBlog {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(6, auto);
  grid-template-areas:
    "header			     header   	         header"
    "portada         portada             portada"
    "zona1           zona1               zona1"
    "destacado       destacado           destacado"
    "aside           aside               aside"
    "footer          footer              footer";
}

%contenedorAbout {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, auto);
  grid-template-areas:
    "header			     header   	         header"
    "portada         portada             portada"
    "contenido       contenido           contenido"
    "footer          footer              footer";
}

%contenedorContacto {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, auto);
  grid-template-areas:
    "header			     header   	         header"
    "portada         portada             portada"
    "zona1           zona1               zona1"
    "formulario      formulario          formulario"
    "footer          footer              footer";
}
