/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XL       --*/
/*-- ========================================= --*/

@media screen and (max-width: 1400px) {
  section {
    .banner {
      background-position: center;
    }
  }

  /* Capacitaciones.html */

  .contenedorCapacitaciones {
    .portada {
      .bannerCapacitaciones {
        .wrap {
          .box {
            .botones {
              flex-flow: nowrap;
            }
          }
        }
      }
    }
  }

  /* Contacto.html  */

  // BLOG
  .container-fluid {
    .destacadoBLog1 {
      height: 40%;
    }
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA L        --*/
/*-- ========================================= --*/

@media screen and (max-width: 992px) {
  /* ABOUT.HTML */

  .contenedorAbout {
    .containerNosotros {
      .box1 {
        // flex-flow: wrap;
        .boxTexto {
          .boxTexto--parrafo {
            padding: 0 6.25rem;
          }
        }
      }
      .box2 {
        display: flex;
        .columnaColor {
          display: none;
        }
      }
      .box3 {
        // flex-flow: wrap;
        .boxTexto {
          .boxTexto--parrafo {
            padding: 0 6.25rem;
          }
        }
      }
    }
  }

  /* CONTACTO */

  .contenedorContacto {
    .contenedorFormulario {
      .contact-wrapper {
        .contact-info {
          padding: 20px;
        }
      }
    }
  }

  // section {
  //   .banner {
  //     background-position: center;
  //     .wrap {
  //       .box {
  //         padding-left: 30px;
  //       }
  //     }
  //   }
  // }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA M       --*/
/*-- ========================================= --*/

@media screen and (max-width: 768px) {
  .contenedorIndex {
    font-size: 16px;
    .destacado {
      .capacitacionesColumna {
        width: 85%;
        text-align: start;
        .carta {
          .capacitacionesTexto {
            .capacitacionesTitulo {
              font-size: 22px;
            }
          }
        }
      }
    }
  }

  .contenedorCapacitaciones {
    section {
      .bannerCapacitaciones {
        .wrap {
          .box {
            padding-left: 50px;
          }
        }
      }
    }
  }

  .contenedorAbout {
    .containerNosotros {
      .box1 {
        flex-flow: wrap;
        .boxTexto {
          width: 100%;
          padding: 50px 10px;
          .boxTexto--parrafo {
            color: #fff;
          }
        }
        .containerFoto {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-height: 400px;
          }
          .divAraceli {
            display: unset;
            color: #fff;
            text-align: center;
            font-style: italic;
          }
        }
      }
      .box2 {
        .asideNosotros {
          display: none;
        }

        .columnaColor {
          display: none;
        }
      }

      .box3 {
        flex-flow: wrap;
        .boxTexto {
          width: 100%;
          padding: 50px 10px;
        }
        .containerFoto {
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            max-height: 400px;
          }
          .divFabricio {
            display: unset;
            color: #fff;
            text-align: center;
            font-style: italic;
          }
        }
      }
    }
  }

  /* CONTACTO.HTML*/

  .contenedorContacto {
    #local {
      .wrapper {
        width: 100%;
        padding: 0 30px;
        .ubicacion {
          text-align: center;
        }
      }
    }
    .contenedorFormulario {
      .contact-wrapper {
        display: flex;
        flex-direction: column;
        .contact-form {
          form {
            display: flex;
            flex-direction: column;
          }
        }
      }
    }
  }
}
/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA SM      --*/
/*-- ========================================= --*/

@media screen and (max-width: 576px) {
  // INDEX.HTML
  .contenedorIndex {
    .destacado {
      div {
        .destacadoTitulo {
          font-size: 25px;
        }
      }
      .capacitacionesColumna {
        width: 85%;
        text-align: center;
        .carta {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .capacitacionesTexto {
            .capacitacionesTitulo {
              font-size: 22px;
              padding-top: 10px;
            }
            .capacitacionesBoton {
              justify-content: center;
            }
          }
        }
      }
    }
  }

  /* CAPACITACIONES */
  .contenedorCapacitaciones {
    section {
      .bannerCapacitaciones {
        .wrap {
          .box {
            width: 90%;
            padding-left: 50px;
            padding-top: 50px;
          }
        }
      }
    }
  }

  /* ABOUT.HTML */

  .contenedorAbout {
    .containerNosotros {
      .box1 {
        .boxTexto {
          .boxTexto--parrafo {
            padding: 0 0;
          }
        }
        .containerFoto {
          .imagen {
            width: 55%;
          }
        }
      }
      .box2 {
        .parrafoNosotros {
          padding: 80px;
        }
      }
      .box3 {
        .boxTexto {
          .boxTexto--parrafo {
            padding: 0 0;
          }
        }
        .containerFoto {
          .imagen {
            width: 55%;
          }
        }
      }
    }
  }

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}

/*-- ========================================= -- */
/*--      MEDIA QUERYS PANTALLA ADICIONAL      --*/
/*-- ========================================= --*/

@media screen and (max-width: 480px) {
  /* INDEX.HTML*/
  // .contenedorIndex {
  //   .portada {
  //     .bannerIndex {
  //       .wrap {
  //         .box {
  //           .textoBanner1 {
  //             font-size: 22px;
  //           }
  //           .textoBanner2 {
  //             font-size: 26px;
  //             line-height: 1.5;
  //           }
  //           .textoBanner3 {
  //             display: none;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }

  /* CAPACITACIONES */
  .contenedorIndex,
  .contenedorCapacitaciones,
  .contenedorContacto {
    .portada {
      .banner {
        .wrap {
          .box {
            .textoBanner1 {
              font-size: 22px;
            }

            .textoBanner2 {
              font-size: 26px;
              line-height: 1.5;
            }
            .textoBanner3 {
              display: none;
            }
            .botones {
              flex-flow: nowrap;
            }
          }
        }
      }
    }
  }

  /* ABOUT.HTML*/

  .contenedorAbout {
    .containerNosotros {
      .box1 {
        .containerFoto {
          display: flex;
          .divAraceli {
            .araceliCita {
              padding: 0 20px;
            }
          }
        }
      }
      .box2 {
        .parrafoNosotros {
          padding: 20px 70px;
        }
      }
      .box3 {
        .containerFoto {
          display: flex;
          flex-direction: row-reverse;

          .divFabricio {
            .fabricioCita {
              padding: 0 20px;
            }
          }
        }
      }
    }
  }

  /* CONTACTO.HTML*/

  .contenedorContacto {
    #local {
      .mapa {
        img {
          width: 300px;
        }
      }
    }
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XSM      --*/
/*-- ========================================= --*/

@media screen and (max-width: 320px) {
  // index.html

  .contenedorIndex {
    .zona1 {
      .csb {
        font-size: 18px;
        .tecnicas {
          font-size: 16px;
        }
      }
      .terapeutas {
        font-size: 16px;
      }
    }
    .zona2 {
      #equipo {
        .equipoTitulo {
          font-size: 18px;
        }
        .equipoDescripcion {
          display: none;
        }
        .equipoMobile {
          text-align: center;
        }
      }
    }
    .destacado {
      div {
        .destacadoTitulo {
          font-size: 23px;
        }
      }
      .capacitacionesColumna {
        .carta {
          .capacitacionesTexto {
            .capacitacionesTitulo {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  /* CAPACITACIONES */

  .contenedorCapacitaciones,
  .contenedorContacto {
    .portada {
      .banner {
        background-position: 60% 60%;
        .wrap {
          .box {
            flex-basis: 100%;
            color: #fff;
            text-align: left;
            align-self: center;
            .textoBanner1 {
              font-size: 16px;
              letter-spacing: 2px;
              font-weight: 300;
            }
            // .contactoPonte {
            //   color: #000;
            //   font-weight: bold;
            //   background-color: #fff;
            //   display: inline-block;
            // }
            .textoBanner2 {
              font-size: 20px;
              line-height: 1.5;
              padding-bottom: 10px;
            }
            .textoBanner3 {
              display: none;
            }

            .botones {
              flex-flow: wrap;
            }
          }
        }
      }
    }
  }

  /* ABOUT.HTML */

  .contenedorAbout {
    .containerNosotros {
      .box1 {
        .containerFoto {
          .imagen {
            width: 320px;
          }
          .divAraceli {
            display: none;
          }
        }
      }

      .box2 {
        .parrafoNosotros {
          padding: 5px 10px;
        }
      }

      .box3 {
        .containerFoto {
          .imagen {
            width: 320px;
          }
          .divFabricio {
            display: none;
          }
        }
      }
    }
  }

  /* CONTACTO.HTML */

  .contenedorContacto {
    .portada {
      .bannerContacto {
        .wrap {
          .box {
            span {
              color: #fff;
            }
            .textoBanner {
              display: none;
            }
          }
        }
      }
    }
    #local {
      .wrapper {
        .ubicacion {
          font-size: 18px;
        }
      }
    }

    .contenedorFormulario {
      padding: 1.5rem 0;
      .marca {
        font-size: 2rem;
      }
      .contact-wrapper {
        padding: 1rem 0;
        .contact-info {
          ul {
            padding: 0;
          }
        }
      }
    }
  }
}
