/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XL       --*/
/*-- ========================================= --*/

@media screen and (max-width: 1200px) {
  section {
    .banner {
      background-position: center;
    }
  }

  /* Capacitaciones.html */

  .contenedorCapacitaciones {
    .portada {
      .bannerCapacitaciones {
        .wrap {
          .box {
            .botones {
              flex-flow: nowrap;
            }
          }
        }
      }
    }
  }

  /* Contacto.html  */

  #local {
    flex-wrap: wrap;
    padding-top: 30px;
    .wrapper {
      width: 90%;
      margin: auto;
      padding-top: 50px;
    }
  }

  // BLOG
  .container-fluid {
    .destacadoBLog1 {
      height: 40%;
    }
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA L        --*/
/*-- ========================================= --*/

@media screen and (max-width: 992px) {
  /* CONTACTO */
  section {
    .banner {
      background-position: center;
      .wrap {
        .box {
          padding-left: 30px;
        }
      }
    }
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA M       --*/
/*-- ========================================= --*/

@media screen and (max-width: 768px) {
  .contenedorIndex {
    font-size: 16px;
    .destacado {
      .capacitacionesColumna {
        width: 85%;
        text-align: start;
        .carta {
          .capacitacionesTexto {
            .capacitacionesTitulo {
              font-size: 22px;
            }
          }
        }
      }
    }
  }

  .contenedorCapacitaciones {
    section {
      .bannerCapacitaciones {
        .wrap {
          .box {
            padding-left: 50px;
          }
        }
      }
    }
  }
}

.contenedorContacto {
  #local {
    flex-direction: column-reverse;
    .wrapper {
      .ubicacion,
      .ubicacionTexto {
        text-align: center;
      }
    }
  }
  .formulario {
    width: 90%;
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA SM      --*/
/*-- ========================================= --*/

@media screen and (max-width: 576px) {
  // INDEX.HTML
  .contenedorIndex {
    .destacado {
      div {
        .destacadoTitulo {
          font-size: 25px;
        }
      }
      .capacitacionesColumna {
        width: 85%;
        text-align: center;
        .carta {
          display: flex;
          flex-direction: column;
          justify-content: center;
          .capacitacionesTexto {
            .capacitacionesTitulo {
              font-size: 22px;
              padding-top: 10px;
            }
            .capacitacionesBoton {
              justify-content: center;
            }
          }
        }
      }
    }
  }

  /* CAPACITACIONES */
  .contenedorCapacitaciones {
    section {
      .bannerCapacitaciones {
        .wrap {
          .box {
            width: 90%;
            padding-left: 50px;
            padding-top: 50px;
          }
        }
      }
    }
  }
}

/*-- ========================================= -- */
/*--      MEDIA QUERYS PANTALLA ADICIONAL      --*/
/*-- ========================================= --*/

@media screen and (max-width: 480px) {
  /* CAPACITACIONES */
  .contenedorCapacitaciones {
    .portada {
      .bannerCapacitaciones {
        .wrap {
          .box {
            .botones {
              flex-flow: nowrap;
            }
          }
        }
      }
    }
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XSM      --*/
/*-- ========================================= --*/

@media screen and (max-width: 320px) {
  // index.html

  .contenedorIndex {
    .portada {
      .bannerIndex {
        .wrap {
          .box {
            .textoBanner1 {
              font-size: 22px;
            }
            .textoBanner2 {
              font-size: 26px;
              line-height: 1.5;
            }
            .textoBanner3 {
              display: none;
            }
          }
        }
      }
    }
    .zona1 {
      .csb {
        font-size: 18px;
        .tecnicas {
          font-size: 16px;
        }
      }
      .terapeutas {
        font-size: 16px;
      }
    }
    .zona2 {
      #equipo {
        .equipoTitulo {
          font-size: 18px;
        }
        .equipoDescripcion {
          display: none;
        }
        .equipoMobile {
          text-align: center;
        }
      }
    }
    .destacado {
      div {
        .destacadoTitulo {
          font-size: 23px;
        }
      }
      .capacitacionesColumna {
        .carta {
          .capacitacionesTexto {
            .capacitacionesTitulo {
              font-size: 20px;
            }
          }
        }
      }
    }
  }

  /* CAPACITACIONES */

  .contenedorCapacitaciones {
    .portada {
      .bannerCapacitaciones {
        background-position: 60% 60%;
        .wrap {
          .box {
            flex-basis: 100%;
            color: #fff;
            text-align: left;
            align-self: center;
            .textoBanner1 {
              font-size: 16px;
              letter-spacing: 2px;
              font-weight: 300;
            }
            .textoBanner2 {
              font-size: 20px;
              line-height: 0.9;
              padding-bottom: 10px;
            }
            .textoBanner3 {
              display: none;
            }

            .botones {
              flex-flow: wrap;
        
            }
          }
        }
      }
    }
  }

  /* CONTACTO.HTML */

  .contenedorContacto {
    .portada {
      .bannerContacto {
        .wrap {
          .box {
            span {
              color: #fff;
            }
            .textoBanner {
              display: none;
            }
          }
        }
      }
    }
  }

  // FOOTER

  footer {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
}
