/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XL       --*/
/*-- ========================================= --*/

@media screen and (max-width: 1200px) {
  section {
    .banner {
      background-position: center;
    }
  }

  //   #local {
  //     flex-wrap: wrap;
  //     padding-top: 30px;
  //   }

  //   .wrapper {
  //     width: 90%;
  //     margin: auto;
  //     padding-top: 50px;
  //   }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA L        --*/
/*-- ========================================= --*/

@media screen and (max-width: 992px) {
  /* CONTACTO */
  section {
    .banner {
      background-position: center;
      .wrap {
        .box {
          padding-left: 30px;
        }
      }
    }
  }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA M       --*/
/*-- ========================================= --*/

@media screen and (max-width: 768px) {
  #intro,
  #equipo {
    width: 90% !important;
  }

  // .about-description {
  //   display: none;
  // }

  section {
    .capacitaciones-columna {
      width: 100% !important;
      text-align: center;
    }
  }

  // #bg-contacto {
  //   top: -110px;
  // }

  /* CONTACTO */

  // .banner {
  //   background-position: center;
  // }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA SM      --*/
/*-- ========================================= --*/

@media screen and (max-width: 576px) {
  section {
    .capacitaciones-columna {
      .carta {
        flex-wrap: wrap;
        justify-content: center !important;
      }
    }
  }

  /* CAPACITACIONES */

  // .bannerCapacitaciones {
  //   background-position: 60% 60%;
  // }

  // .banner .wrap .box .botones {
  //   flex-flow: nowrap;
  // }
}

/*-- ========================================= -- */
/*--            MEDIA QUERYS PANTALLA XSM      --*/
/*-- ========================================= --*/

@media screen and (max-width: 320px) {
  /* CAPACITACIONES */

  section{
    .bannerCapacitaciones {
      background-position: 60% 60%;
    }
  }

  section {
    .banner {
      .wrap {
        .box {
          flex-basis: 100%;
          color: #fff;
          text-align: left;
          align-self: center;
          span {
            font-size: 15px;
            letter-spacing: 2px;
            font-weight: 300;
            color: white;
          }
          h1 {
            font-size: 20px;
            line-height: 0.9;
            padding-bottom: 10px;
          }
          p {
            font-size: 12px;
            line-height: 1.2;
          }
        }
      }
    }
  }

  .container-fluid {
    .row {
      .col {
        .card {
          width: 100%;
        }
      }
    }
  }
}
