@mixin bannerMedidas {
  display: flex;
  max-width: 100%;
  height: $medida-banner;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@mixin btn-seguirleyendo {
  color: white;
  background-color: rgb(50, 126, 50);
}

@mixin cartaEfecto {
  transition: 0.2s;
  &:hover {
    transform: scale(1.07);
  }
}
