@import "../components/variables";
@import "../components/mixins";
@import "../components/extends";
@import "../components/maps";

/*-- ========================================= -- */
/*--                   ABOUT.HTML              --*/
/*-- ========================================= --*/

.contenedorAbout {
  @extend %contenedorAbout;
  background-color: #5e748f;
  .portada {
    .bannerAbout {
      @include bannerMedidas;
      background-image: url(../img/portadaNosotros.jpg);
    }
  }
  .containerNosotros {
    grid-area: contenido;
    .box1 {
      display: flex;
      .boxTexto {
        background-color: #748f5e;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .boxTexto--titulo {
          color: #fff;
          font-size: 1.5rem;
          text-align: center;
          padding-top: 1.25rem;
        }
        .boxTexto--parrafo {
          color: #fff;
          padding: 0 11.25rem;
          text-align: center;
        }
      }
      .containerFoto {
        img {
          max-height: 37.5rem;
          width: 100%;
          height: 100%;
        }
        .divAraceli {
          display: none;
        }
      }
    }
    .box2 {
      display: grid;
      grid-template-columns: 2fr 6fr 2fr;
      grid-template-rows: 1fr 1fr 1fr;
      grid-template-areas:
        "aside     parrafo   columnaColor"
        "aside     parrafo   columnaColor"
        "aside     parrafo   columnaColor";

      .asideNosotros {
        grid-area: aside;
        background-color: #5e8c8f;
        display: flex;
        justify-content: center;
        align-items: center;
        .asidePalabra {
          transform: rotate(-90deg);
          letter-spacing: 0.4375rem;
          text-align: center;
          font-size: 3rem;
          font-weight: bold;
          color: #000;
        }
      }
      .parrafoNosotros {
        grid-area: parrafo;
        display: flex;
        flex-direction: column;
        background-color: white;
        padding: 9.375rem;
        border: 1px solid black;
        .boxTexto--titulo {
          font-size: 1.5rem;
          text-align: center;
          padding-top: 1.25rem;
        }
        .boxTexto--parrafo {
          text-align: center;
        }
      }
      .columnaColor {
        grid-area: columnaColor;
        display: flex;

        background-color: #5e8c8f;
      }
    }

    .box3 {
      display: flex;
      flex-direction: row-reverse;
      .boxTexto {
        background-color: #748f5e;
        width: 75%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .boxTexto--titulo {
          color: #fff;
          font-size: 1.5rem;
          text-align: center;
          padding-top: 1.25rem;
        }
        .boxTexto--parrafo {
          color: #fff;
          padding: 0 11.25rem;
          text-align: center;
        }
      }
      .containerFoto {
        img {
          max-height: 37.5rem;
          width: 100%;
          height: 100%;
        }
        .divFabricio {
          display: none;
        }
      }
    }
  }
}
